/*General*/
#leftDock{
	background-color: rgb(37, 37, 38);
}

#controls{
	background-color: rgb(37, 37, 38);
}

.control {
	background-color: rgb(37, 37, 38);
	color: rgb(241, 241, 241);
	border: 1px solid rgb(63, 63, 70);
	padding: 5px;
}

.control p {
	display: inline;
}

.control h4 {
	color: rgb(208, 208, 208);
	margin: 2px;
	margin-left: 0px;
}

.control select {
	width: 100%;
	background-color: rgb(37, 37, 38);
	color: rgb(241, 241, 241);
}

.bold{
	font-weight: bold;
}

.control ul{
	list-style-type: none;
	margin-top: 0;
}

.listButton, li{
	background-color: rgb(37, 37, 38);
	color: rgb(241, 241, 241);
	border: none;
	font-size: 14px;
	font-family: serif;
}

.controlButton{
	background-color: rgb(37, 37, 38);
	color: rgb(241, 241, 241);
	border-radius: 4px;
}

.menuButton{
	background-color: rgb(37, 37, 38);
	color: rgb(241, 241, 241);
	border: none;
	padding: 0;
}

.controlContent{
	height: 100%;
	overflow-y: scroll;
}

/*
//Doesn't work?
p.unselected{
	text-decoration: line-through;
}*/

/*Custom ScrollBar:*/
.customScrollbar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: rgb(62,62,66);
}

.customScrollbar::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}

.customScrollbar::-webkit-scrollbar-thumb {
	background-color: rgb(104,104,104);
}