/*
#fileCount{
	background-color: rgb(37, 37, 38);
	color: rgb(241, 241, 241);
	border: 1px solid rgb(63, 63, 70);
	padding-top: 0;
}

#fileCount p {
	display: inline;
}

#fileCount h3 {
	color: rgb(208, 208, 208);
}

#fCount{
	font-weight: bold;
}
*/