html, body { 
	width: 100%;
	height: 100%;
	margin: 0px;
	background-color: black;
}

canvas {
	height: 100%;
	display: block;
}

.grid-container {
  display: grid;
  grid-template-columns: 200px auto 200px;
}

.grid-item{
	height: 100vh;
}

#menu {
	background-color: green;
}

#browser {
	margin: 0;
	padding: 0;
	background-color: red;
	overflow: hidden;
}

#controls {
	background-color: blue;
}