html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	background-color: black; 
}

p {
	color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: 200px auto 200px
}

.grid-item{
	height: 100vh;
}

#menu {
	background-color: green;
}

#browser {
	background-color: red;
	overflow: hidden;
}

#controls {
	background-color: blue;
}