.nodeLevel-0{
    margin-left: 0px;
}
.nodeLevel-1{
    margin-left: 20px;
}
.nodeLevel-2{
    margin-left: 40px;
}
.nodeLevel-3{
    margin-left: 60px;
}
.nodeLevel-4{
    margin-left: 80px;
}
.nodeLevel-5{
    margin-left: 100px;
}

.hierarchyContainer{
    padding: 5px;
}

.scrollable{
    height: 95px;
    overflow-y: auto;
    border-width: 1px;
    border-color: rgb(40, 40, 40);;
    border-style: solid;
    padding: 5px;
}