#ThreeBrowser{
    background-color: green;
    margin: 0;
	padding: 0;
	/*background-color: black;*/
	overflow: hidden;
}

#tooltip {
	color: white;	
	position: fixed;
	left: 0;
	top: 0;
	min-width: 100px;
	text-align: center;
	padding: 5px 12px;
	font-family: monospace;
	background: #a0c020;
	display: none;
	opacity: 1;
	border: 1px solid black;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
	transition: opacity 0.25s linear;
	border-radius: 3px;	
}

#info {
	position: absolute;
	top: 10px;
	width: 80%;
	text-align: center;
	z-index: 100;
	display:block;
	color:white;
}

#conMenu{
	position: absolute;
	z-index: 100;
	display: block;
	text-align: center;
}

#conMenu button{
	width: 100%;
	text-align: left;
}